/* App.css or App.scss */

/* Common styles for both themes */
body {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* You can define other common styles here */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

/* Dark theme styles */
.dark-theme {
  background-color: black;
  color: white;
  /* Add other dark theme styles here */
}

/* Light theme styles */
.light-theme {
  background-color: white;
  color: black;
  /* Add other light theme styles here */
}
