@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Dancing+Script&family=Montserrat:ital,wght@1,100&family=Open+Sans:wght@300&family=Oswald:wght@300;400&display=swap");

.checkout-container {
  font-family: cursive;
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
    .header-block {
      text-transform: capitalize;
      width: 23%;
      &:last-child {
        width: 8%;
      }
    }
  }
  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }
}
