.directory-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.typing-text {
  text-align: center;
  font-size: 4.14%;
  font-weight: bold;
  margin-top: 5%; /* Adjust as needed */
  color: #333; /* Adjust text color as needed */
}
